<div class="main mt-5 ">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'200ms'"
        [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <div class="title">
                    Products
                </div>
                <div class="dropdown me-5">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><button class="dropdown-item" (click)="Asort()">A-Z </button></li>
                      <li><button class="dropdown-item" (click)="Dsort()">Z-A </button></li>
                    </ul>
                  </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Reviews</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <span class="star" [class.rated]="star <= product.rating">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                    </ng-container>
                </td>
                <td><button type="button" class="btn btn-outline-danger" (click)="Delete(product)">
                        Remove
                    </button>
                </td>
                <td><button type="button" class="btn btn-outline-warning" (click)="Edit(product)">
                        Update
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>